.navbar {
	background-color: #3EA99F !important;
}
.login-container {
	margin-top: 50px;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}
.box-header .well {
	padding-bottom: 10px !important;
}